<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealTimeEverything.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FDBD7231D0A8CD700B44FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FDBD73A1D0A8CD700B44FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FDBD7451D0A8CD700B44FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
